@import "../../theme.scss";

.Collection {
  overflow-y: scroll;
  height: calc(100vh - 170px);
  background-image: linear-gradient($color-black-ish, $color-dark-grey-2);
  padding: 0px 40px;
  color: $color-white;
  h2 {
    font-size: 2.5rem;
    color: $color-white;
    font-family: "Raleway";
    font-weight: 700;
    margin-left: 40px;
  }
}

@media screen and (max-width: 576px) {
  .Collection {
    height: 58vh;
    padding: 0px;
    h2 {
      font-size: 2.1rem;
      margin-top: 10px;
      margin-left: 30px;
      margin-bottom: 20px;
    }
  }
}
