@import "../../theme.scss";

.Collection {
  overflow-y: scroll;
  height: calc(100vh - 170px);
  background-image: linear-gradient($color-black-ish, $color-dark-grey-2);
  color: $color-white;
  padding: 0px 40px;
  p {
    font-size: 50px;
  }
}

@media screen and (max-width: 576px) {
  .Collection {
    height: 58vh;
    padding: 0px;
  }
}
