@import "../../theme.scss";

.Collection {
  overflow-y: scroll;
  height: 100%;
  background-image: linear-gradient($color-black-ish, $color-dark-grey-2);
  color: $color-white;
  font-size: 50px;
}
