@import "../../theme.scss";

// TrackListItem.scss ----------------------------------------

.flex-container {
  display: flex;
}
.TrackListItem {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  cursor: pointer;
}
.track-icon {
  width: 40px;
  height: 40px;
  background-color: $color-grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.track-icon-btn {
  font-size: 20px;
  &:hover {
    transform: scale(1.05);
    transition: 0.1s;
  }
}
.track-title {
  padding: 0px 20px;
}
.track-info {
  display: flex;
  justify-content: space-between;
}

.track-time {
  margin: auto 0px;
}

.TrackListItem::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: $color-dark-grey-3;
  margin-top: 20px;
}

.TrackListItem:last-child::after {
  display: none;
}
