@import "../../theme.scss";

.TopBar {
  display: flex;
  justify-content: space-between;
  padding: 0px 35px;
  height: 80px;

  background-color: $color-black-ish;
  color: $color-white;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;

  color: $color-white;
  background-color: $color-black;
  height: 100%;
  font-weight: 500;
  font-size: 1.75rem;
  align-items: center;
  p {
    margin-bottom: 5px;
  }
}

.anticon.logoIcon {
  color: $color-white;
  font-size: 30px;
  padding-right: 10px;
}
