@import "../../theme.scss";

.Card {
  background-color: $color-dark-grey;
  margin: 20px;
  height: 300px;
  width: 200px;
  padding: 20px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  .ant-btn-primary {
    background-color: $color-theme;
    border-color: $color-theme;
    width: 80px;
  }
}
