@import "../../theme.scss";

.Navigation {
  background-color: $color-black;
  padding: 8px 15px;
  height: calc(100vh - 170px);
}
.tab {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  color: $color-light-grey;
  p {
    font-weight: bold;
    margin: 0;
  }
  &:focus {
    color: $color-white;
    background-color: $color-dark-grey;
    border-radius: 5px;
  }
  &:hover {
    color: $color-white;
  }
}
.navlink-icon {
  font-size: 20px;
  padding-right: 15px;
}
