@import "../../theme.scss";

.Display {
  margin-top: auto;
  margin-bottom: auto;
  width: 30vw;
  min-width: 200px;
}
.album-artwork {
  display: none;
}

.now-playing {
  display: flex;
  padding: 0px 20px;
  text-align: left;
  cursor: default;
}
.playing-track-title {
  display: flex;
  flex-direction: column;
}

.playing-track-title {
  h4 {
    color: $color-white;
  }
  h5 {
    font-weight: 400;
    color: $color-light-grey;
  }
}

.btn-like {
  cursor: pointer;
  margin: auto 25px;
  color: $color-light-grey;
  font-size: 20px;
  &:hover {
    color: $color-white;
  }
}

@media screen and (max-width: 576px) {
  .Display {
    width: 100vw;
  }

  .now-playing {
    margin-top: auto;
    margin-bottom: auto;
  }
  .album-artwork {
    display: block;
    width: 10vh;
    height: 10vh;
    margin-right: 20px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .playing-track-title {
    margin: auto 0;
  }
  .btn-like {
    margin-right: 10px;
    margin-left: auto;
  }
}
