@import "~antd/dist/antd.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.015em;
}

.side-bar {
  background-color: #101010;
}

.ant-btn {
  color: #101010;
  &:hover {
    color: #ffffff;
    background-color: #1db954;
    border-color: transparent;
  }
}

@media screen and (max-width: 576px) {
  .side-bar {
    background-color: #1a1a1a;
  }
}
