@import "../../theme.scss";

.BottomBar {
  border-top: 1px solid rgb(54, 54, 54); // !
  background-color: $color-dark-grey;
  height: 90px;
  width: 100%;
  z-index: 4;

  display: flex;
  justify-content: space-between;
  text-align: center;
}
// Display ------------------
.Display {
  margin-top: auto;
  margin-bottom: auto;
  width: 30vw;
  min-width: 200px;
}

.now-playing {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  text-align: left;
}
.playing-track-title {
  display: flex;
  padding-bottom: 5px;
}

h4 {
  color: $color-white;
}
h5 {
  font-weight: 400;
  color: $color-light-grey;
}

.btn-like {
  margin: auto 20px;
  color: $color-light-grey;
  font-size: 17px;
  &:hover {
    color: $color-white;
  }
}

// Player ------------------

.Player {
  margin-top: 15px;
  width: 40vw;
}
.player-controls {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.player-button {
  margin: auto 10px;
  color: $color-light-grey;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    color: $color-white;
    transition: 0.1s;
  }
  &:active {
    transform: scale(0.93);
  }
}
.btn-play,
.btn-pause {
  padding: 5px;
  border: 1px solid $color-light-grey;
  border-radius: 20px;
  color: $color-white;
  border-color: $color-white;
  &:hover {
    transform: scale(1.05);
    transition: 0.1s;
  }
}
.btn-play {
  padding: 5px 4px 5px 6px;
}
.timeline {
  display: flex;
}
.progress {
  margin: auto 20px;
  top: 10px;
  border-radius: 10px;
  height: 4px;
  cursor: pointer;
  background-color: $color-grey;
  width: 40vw;
}
.bar {
  height: inherit;
  border-radius: inherit;
  background-color: $color-theme;
  max-width: 100%;
}
.time {
  color: $color-light-grey;
}

// Volume ------------------
.VolumeControl {
  width: 30vw;
  min-width: 200px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px 20px;
  display: flex;
  justify-content: flex-end;
}
.icon {
  padding-right: 10px;
}
.vol-icon {
  color: $color-light-grey;
  font-size: 12px;
}

.volume {
  width: 80px;
  height: 4px;
  top: 10px;
  background-color: $color-grey;
  position: relative;
  border-radius: 10px;
}
.volume-bar {
  height: 4px;
  background-color: $color-light-grey;
  width: 75%;
  border-radius: 10px;
}
