@import "../../theme.scss";

.now-playing-bar {
  border-top: 1px solid black; // !
  background-color: $color-dark-grey;
  height: 90px;
  width: 100%;
  z-index: 4;
}
.Player {
  padding: 30px;
}
.anticon {
  color: $color-white;
  font-size: 20px;
}
