@import "../../theme.scss";

.TrackListItem {
  display: flex;
  flex-direction: column;
  margin: 20px 30px;
  cursor: pointer;
}
.flex-container {
  display: flex;
}

.track-icon-btn {
  padding-top: 10px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: $color-grey;
  &:hover {
    color: $color-light-grey;
    transform: scale(1.05);
    transition: 0.1s;
  }
  &:focus {
    transform: scale(0.93);
  }
}
.active-icon {
  font-size: 20px;
  color: $color-white;
}

.like-status {
  .like-btn {
    padding-top: 10px;
    margin: auto 20px;
    font-size: 20px;
    color: $color-grey;
    &:hover {
      color: $color-light-grey;
      transform: scale(1.05);
      transition: 0.1s;
    }
    &:focus {
      transform: scale(0.9);
    }
  }
}
.track-title {
  padding: 0px 20px;
}
.track-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.track-time {
  margin: auto 0px;
  h5 {
    font-weight: 500;
  }
}

.TrackListItem::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: $color-dark-grey-3;
  margin-top: 20px;
}

.TrackListItem:last-child::after {
  display: none;
}

@media screen and (max-width: 576px) {
  .TrackListItem {
    margin: 15px 30px;
  }
  .track-time,
  .track-icon-btn {
    display: none;
  }
  .track-title {
    padding: 0px;
  }
  .like-status {
    .like-btn {
      margin-left: 0px;
      margin-right: 25px;
      font-size: 18px;
    }
  }
}
